// Body Styles
body,
html,
.body {
  background: $white !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.email-body {
  padding: 16px
}

@media (prefers-color-scheme: dark) {
  .dark-img {
    display: inline-block !important;
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    max-width: inherit !important;
    margin-top: 0px !important;
    visibility: inherit !important;
  }
}

.container.header {
  background: $dark-blue;
  padding: 18px 32px
}

.body-drip {
  border-top: 8px solid #663399;
}

.bold {
  font-weight: 700;
}

table.container {
  max-width: 100%;
  @media screen and (max-width: $global-breakpoint) {
    width: 100%;
  }
}

center {
  @media screen and (max-width: $global-breakpoint) {
    min-width: auto;
  }
}

// Full Width Headers

.not-ticket-header {
  padding: 0 32px;
  p {
    padding: 20px 0;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 0;
  }
}

.header {
  background: $dark-blue;
  padding: 0 16px;

  .columns {
    padding-bottom: 0;
  }
  p {
    color: #fff;
    padding-top: 15px;
  }
  .wrapper-inner {
    padding: 16px; /*controls the height of the header*/
  }
  .container {
    background: transparent;
  }
}

.wrapper.secondary {
  background: $light-gray;
}

.brand {
  img {
    display: block;
    height: 26px;
    margin: 0 8px;
    width: 130px;
  }
}

@media screen and (max-width: $global-breakpoint) {
  .brand-column {
    margin-top: 16px !important;
    margin-right: auto;
  }
}

.menu-item a {
  font-size: 14px;
  padding: 4px 10px;
  font-weight: 500;
  line-height: 44px;
  white-space: nowrap;
  text-align: center;
  color: white !important;
  text-transform: none;
}

table.header-nav, table.footer-nav {
  margin: 0;
  th.menu-item, td.menu-item {
    width: auto!important;
    a {
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

table.social-menu {
  margin: 0;
  th.menu-item, td.menu-item {
    padding: 0;
    a {
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
      line-height: 18px;
    }
  }
}

table.secondary-menu {
  padding: 16px;
  margin-bottom: 0;
  th.secondary-menu-item, td.secondary-menu-item {
    float: none;
    width: auto!important;
    display: inline-block!important;
    margin: 0;
    font-size: 14px;
    padding: 0;
    a {
      color: $dark-blue !important;
      font-size: 11px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

.vs-footer-info {
  color: $secondary-color;
  font-size: 11px;
  text-align: left;
}

.callout-inner p:not(.lead), li {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
}

.fine-print p {
  font-size: 12px;
  text-align: center;
  color: #666
}

.warning {
  padding: 20px;
  color: #CE3197
}

.order-stepper {
  margin-bottom: 24px;
}

.order-item {
  line-height: 50px;
  height: 50px;
}

.order {
  display: inline-block
}

.order-item-text, .align-middle {
  vertical-align: middle;
}

.no-margin {
  margin: 0 !important;
}

.d-inline-block {
  display: inline-block;
}

.callout-inner.secondary {
  background: white !important;
}

.button.secondary {
  td {
    background: none !important;
  }
  a {
    border: 1px solid $dark-blue !important;
    color: $dark-blue !important;
    border-radius: 8px !important;
  }
  &.text-right {
    margin-left: auto !important;
  }
}


.footer-menu {
  vertical-align: middle;
  background: #EFEFF6;
  padding: 16px
}

table.footer-nav {
  th.menu-item, td.menu-item {
    padding: 0 5px;
    a {
      color: $dark-blue !important;
      line-height: 14px;
    }
  }
}

th, td [valign="middle"] {
  vertical-align: middle;
}

@media screen and (min-width: $global-breakpoint) {
  .need-additional-help {
    padding: 0 40px
  }
}
