

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: $light-gray;
}

.body-drip {
  border-top: 8px solid #663399;
}

.bold {
  font-weight: 700;
}

// Full Width Headers

.not-ticket-header {
  padding: 0 32px;
  p {
    padding: 20px 0;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 0;
  }
}

.header {
  background: $dark-blue;
  .columns {
    padding-bottom: 0;
  }
  p {
    color: #fff;
    padding-top: 15px;
  }
  .wrapper-inner {
    padding: 16px; /*controls the height of the header*/
  }
  .container {
    background: transparent;
  }
}

.wrapper.secondary {
  background: $light-gray;
}

.brand {
  display: block;
  height: 26px;
  margin: 0 8px;
  width: 130px;
}

.menu-item a {
  font-size: 14px;
  padding: 4px 10px;
  font-weight: 500;
  line-height: 44px;
  white-space: nowrap;
  text-align: center;
  color: white !important;
  text-transform: none;
}

table.menu th.secondary-menu-item {
  float: none;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 8px;
  a {
    color: $dark-blue !important;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
  }
}

.vs-footer-info {
  color: $secondary-color;
  font-size: 11px;
  padding: 16px 0 40px 0;
  text-align: left;
}

.callout-inner p:not(.lead), li {
  font-size: 14px;
  line-height: 26px;
}

.fine-print {
  font-size: 85%;
  text-align: center;
  color: $secondary-color
}

.warning {
  padding: 20px;
  color: #CE3197
}

.order-stepper {
  margin-bottom: 24px;
}

.order-item {
  line-height: 50px;
  height: 50px;
}

.order {
  display: inline-block
}

.order-item-text, .align-middle {
  vertical-align: middle;
}

.no-margin {
  margin: 0 !important;
}

.d-inline-block {
  display: inline-block;
}

.callout-inner.secondary {
  background: $light-gray !important;
}

.button.secondary {
  td {
    background: none !important;
  }
  a {
    border: 1px solid $dark-blue !important;
    color: $dark-blue !important;
    border-radius: 8px !important;
  }
}

.footer-menu {
  vertical-align: middle;
  th {
    padding: 0;
  }
  .menu-item a {
    color: $dark-blue !important;
  }
}