<!-- Billing Details -->
<callout class="secondary">
  <h4>Billing Details</h4>
  <row align="top">
    <columns align="top">
      <p class="no-margin"><strong>ORDER TOTAL</strong></p>
      <h5>%billedTotal%</h5>
    </columns>
    <columns align="top">
      <p class="no-margin"><strong>ADDRESS</strong></p>
      <p class="no-margin">%firstName% %lastName%</p>
      <p class="no-margin">%Street%</p>
      <p class="no-margin">%City%, %State% %Zip%</p>
    </columns>
  </row>
</callout>
<!-- Billing Details -->
