<spacer size="16"></spacer>
  <div class="need-additional-help">
    <row>
      <columns align="middle" small="5">
        <div class="no-margin">Need more help? We're here for you.</div>
      </columns>
      <columns align="middle" small="5">
        <button
                class="secondary rounded large-float-right text-right no-margin"
                href="https://www.vividseats.com/vivid-seats-customer-service.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Email"
        >
          Contact us
        </button>
      </columns>
    </row>
  </div>
<spacer size="16"></spacer>
