<spacer size="16"></spacer>

<callout>
    <h5 class="text-center">
        For the best experience download the Vivid Seats App
    </h5>
    <center>
        <a
                style="display: inline-block"
                href="https://www.vividseats.com/app/dl.action?dlFeature=email_transactional?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=AppStore"
        >
            <img
                    style="display: inline-block"
                    src="https://a.vsstatic.com/common/app/app-store.png"
                    width="129"
                    height="43"
            />
        </a>
        <a
                style="display: inline-block"
                href="https://www.vividseats.com/app/dl.action?dlFeature=email_transactional?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=GooglePlay"
        >
            <img
                    style="display: inline-block"
                    src="https://a.vsstatic.com/common/app/google-play.png"
                    width="144"
                    height="43"
            />
        </a>
    </center>
</callout>

<spacer size="16"></spacer>