<!-- FAQ -->

<callout>
    <h4>FAQ</h4>
    <ol>
        <li>
            <p><strong>I already have the Vivid Seats app. Why do I need to download another app to create a
                second account to access my tickets?</strong></p>

            <p>Sometimes the venue or event’s policy requires this step. Other times, it’s for ticket
                safety. As an online marketplace for live event tickets and experiences, we work with
                multiple vendors to list their tickets so that we can provide our fans with one of the
                largest selections of events, tickets and prices. For security purposes, the tickets must be
                accepted through the original ticket seller's website and displayed on a mobile device to
                gain entrance to the event. This process allows us to ensure that your tickets are validated
                and not susceptible to fraud (duplication). Pro tip: For the best experience, make sure you
                can access your tickets before you travel to the game.</p>
        </li>
        <li>
            <p><strong>
                Why should I download and view my tickets in the app prior to arriving at the venue?
            </strong></p>
            <p>There will be no shortage of energy and excitement at the game. That means thousands of
                people sending photos and posting to social from the stadium. Access your tickets before you
                head out, so you avoid the cellular logjam and any connectivity issues. We're just looking
                out for you!</p>
            <a href="https://support.vividseats.com/support/home" target="_blank">Browse our full
                FAQ</a>
        </li>
    </ol>
</callout>

