<container>
    <wrapper class="secondary">

        <spacer size="32"></spacer>

        <!-- Fine Print -->
        <row>
            <columns>
                <div class="text-center">
                    <p class="fine-print">As described in our <a
                            href="https://www.vividseats.com/terms.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Terms">terms
                        and conditions</a>, the seller may provide comparable or better tickets
                        to the same
                        event. Event times are subject to change; please check your local listings. All prices are in US
                        Dollars.
                    </p>
                </div>
            </columns>
        </row>
        <!-- Fine Print -->

        <spacer size="32"></spacer>

        <callout>
            <center>
            <h5 class="text-center">For the best experience download the Vivid Seats App</h5>
            <a style="display: inline-block;"
               href="https://www.vividseats.com/app/dl.action?dlFeature=email_transactional?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=AppStore">
                <img style="display: inline-block;" src="https://a.vsstatic.com/common/app/app-store.png"
                     width="129" height="43"/>
            </a>
            <a style="display: inline-block;"
               href="https://www.vividseats.com/app/dl.action?dlFeature=email_transactional?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=GooglePlay">
                <img style="display: inline-block;" src="https://a.vsstatic.com/common/app/google-play.png"
                     width="144" height="43"/>
            </a>
            </center>
        </callout>

        <spacer size="32"></spacer>

        <row class="footer-menu">
            <columns align="center">
                <a href="https://www.vividseats.com/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Logo">
                    <img
                         alt="Vivid Seats"
                         src="https://a.vsstatic.com/email/rebrand/logo/transactional-footer.png"
                         title="Vivid Seats" width="140" height="28"/>
                </a>
            </columns>
            <columns small="12" large="6" valign="middle" align="center">
                <menu align="center">
                    <item class="menu-item"
                          href="https://www.vividseats.com/sports/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavSports">
                        Sports
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/concerts/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavConcerts">
                        Concerts
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/theatre/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavTheater">
                        Theater & Comedy
                    </item>
                </menu>
            </columns>
            <columns small="12" large="2" valign="middle" align="center">
                <menu align="center" class="menu social-menu">
                    <item class="menu-item"
                          href="https://www.facebook.com/VividSeats?utm_term=FooterFacebook">
                        <img src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca59895333b1eaea9e4a4/original.png?1626121624"
                             class="float-center" width="18" alt="facebook">
                    </item>
                    <item class="menu-item"
                          href="https://www.instagram.com/vividseats/?utm_term=FooterInstagram">
                        <img src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca598c542201e193c2563/original.png?1626121624"
                             class="float-center" width="18" alt="instagram">
                    </item>
                    <item class="menu-item"
                          href="https://twitter.com/vividseats/?utm_term=FooterTwitter">
                        <img src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca59860881839e46cfcdf/original.png?1626121624"
                             class="float-center" width="18" alt="twitter">
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/vivid-seats-app.html?utm_term=FooteriOS">
                        <img src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60edb5a9ed28c44a5fc05a79/original.png?1626191273"
                             class="float-center" width="18" alt="iPhone">
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/vivid-seats-app.html?utm_term=FooterAndroid">
                        <img src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60edb5a995333b64eda9e748/original.png?1626191273"
                             class="float-center" width="18" alt="Android">
                    </item>
                </menu>
            </columns>
        </row>

        <hr>

        <menu class="secondary-menu">
            <item class="secondary-menu-item"
                  href="https://support.vividseats.com/support/home?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=FAQ">
                Help
            </item>
            <item class="secondary-menu-item"
                  href="https://www.vividseats.com/about.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer">
                About Us
            </item>
            <item class="secondary-menu-item"
                  href="https://www.vividseats.com/account/Account.action?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer">
                My Account
            </item>
            <div class="mobile-break" style="display:none;font-family:Arial,sans-serif">&nbsp;</div>
            <item class="secondary-menu-item"
                  href="https://www.vividseats.com/vivid-seats-customer-service.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer">
                Contact Us
            </item>
            <item class="secondary-menu-item"
                  href="https://www.vividseats.com/privacy.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer">
                Privacy Policy
            </item>
        </menu>
        <p class="vs-footer-info">&copy; 2021. Vivid Seats<span class="show-for-large">, </span>225 W. Randolph,
            Chicago, IL 60606, USA</p>
        </columns>
        </row>

        <spacer size="16"></spacer>

    </wrapper>
</container>