<div class="footer-menu">
  <row valign="bottom">
    <columns valign="middle" small="6">
      <div class="footer-logo">
        <a
          href="https://www.vividseats.com/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Logo"
        >
          <img
            alt="Vivid Seats"
            src="https://a.vsstatic.com/email/rebrand/logo/transactional-footer.png"
            title="Vivid Seats"
            width="120"
            style="display: block; width: 120px !important"
          />
        </a>
      </div>
    </columns>
    <columns valign="middle" class="text-left">
      <menu class="footer-nav" align="center" class="text-left">
        <item
          href="https://www.vividseats.com/sports/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavSports"
        >
          Sports
        </item>
        <item
          href="https://www.vividseats.com/concerts/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavConcerts"
        >
          Concerts
        </item>
        <item
          href="https://www.vividseats.com/theatre/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavTheater"
        >
          Theater & Comedy
        </item>
      </menu>
    </columns>
    <columns valign="middle" align="center">
      <menu align="center" class="menu social-menu">
        <item
          href="https://www.facebook.com/VividSeats?utm_term=FooterFacebook"
        >
          <img
            src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca59895333b1eaea9e4a4/original.png?1626121624"
            width="18"
            alt="facebook"
            style="width: 18px !important"
          />
        </item>
        <item
          href="https://www.instagram.com/vividseats/?utm_term=FooterInstagram"
        >
          <img
            src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca598c542201e193c2563/original.png?1626121624"
            width="18"
            alt="instagram"
            style="width: 18px !important"
          />
        </item>
        <item href="https://twitter.com/vividseats/?utm_term=FooterTwitter">
          <img
            src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60eca59860881839e46cfcdf/original.png?1626121624"
            width="18"
            alt="twitter"
            style="width: 18px !important"
          />
        </item>
        <item
          href="https://www.vividseats.com/vivid-seats-app.html?utm_term=FooteriOS"
        >
          <img
            src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60edb5a9ed28c44a5fc05a79/original.png?1626191273"
            width="18"
            alt="iPhone"
            style="width: 18px !important"
          />
        </item>
        <item
          href="https://www.vividseats.com/vivid-seats-app.html?utm_term=FooterAndroid"
        >
          <img
            src="https://appboy-images.com/appboy/communication/assets/image_assets/images/60edb5a995333b64eda9e748/original.png?1626191273"
            width="18"
            alt="Android"
            style="width: 18px !important"
          />
        </item>
      </menu>
    </columns>
  </row>
  <hr />
  <menu class="secondary-menu text-left" align="float-left">
    <item
      class="secondary-menu-item"
      href="https://support.vividseats.com/support/home?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=FAQ"
    >
      Help
    </item>
    <item
      class="secondary-menu-item"
      href="https://www.vividseats.com/about.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer"
    >
      About Us
    </item>
    <item
      class="secondary-menu-item"
      href="https://www.vividseats.com/account/Account.action?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer"
    >
      My Account
    </item>
    <item
      class="secondary-menu-item"
      href="https://www.vividseats.com/vivid-seats-customer-service.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer"
    >
      Contact Us
    </item>
    <item
      class="secondary-menu-item"
      href="https://www.vividseats.com/privacy.html?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Footer"
    >
      Privacy Policy
    </item>
  </menu>
</div>
