<!-- Not Your Ticket Messaging -->
<wrapper class="not-ticket-header">
    <container>
        <p class="text-center">Heads up: This email is not your ticket.</p>
    </container>
</wrapper>
<!-- /Not Your Ticket Messaging -->

<!-- Header -->
<wrapper class="header">
    <container>
        <row class="collapse">
            <columns small="12" valign="middle">
                <a href="https://www.vividseats.com/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=Logo"><img
                        alt="Vivid Seats" class="brand small-float-center"
                        src="https://a.vsstatic.com/email/rebrand/logo/transactional-header.png"
                        title="Vivid Seats" width="130" height="26"/></a>
            </columns>
            <columns small="12" large="6" valign="middle" align="center">
                <menu align="center">
                    <item class="menu-item"
                          href="https://www.vividseats.com/sports/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavSports">
                        Sports
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/concerts/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavConcerts">
                        Concerts
                    </item>
                    <item class="menu-item"
                          href="https://www.vividseats.com/theatre/?utm_source=S&amp;utm_medium=email&amp;utm_campaign=URLtransfer&amp;utm_term=NavTheater">
                        Theater & Comedy
                    </item>
                </menu>
            </columns>
        </row>
    </container>
</wrapper>
<!-- Header -->