<!-- Order Details -->
<callout class="secondary">
    <h4>Order Details</h4>
    <table>
        <tr>
            <td class="align-middle">
                <button class="d-inline-block no-margin" href="https://www.vividseats.com/Login.action?utm_source=S&amp;utm_medium=email&amp;utm_campaign=Transaction&amp;utm_term=OrderLookup">
                    Order #%orderId%
                </button>
                <a style="line-height: 38px; margin-left: 10px"
                   href="https://www.vividseats.com/Login.action?utm_source=S&amp;utm_medium=email&amp;utm_campaign=Transaction&amp;utm_term=OrderLookup">Log
                    in to view order status</a>
            </td>
        </tr>
    </table>
    <br>
    <h5>%eventName%</h5>
    <p class="no-margin">%eventVenue%</p>
    <p class="no-margin">%eventDateTime%</p>
    <hr>
    {{> order__section-qty-del}}
</callout>
<!-- Order Details -->